.welcome{
  /* mix-blend-mode: multiply; */
  mix-blend-mode: screen;
  height:200px;
  width:200px;
}
.welcome-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:60%;
  background-color: linear-gradient(
    135deg,
    rgba(172, 184, 187, 0.1) 0%,
    rgba(110, 153, 173, 0.584) 50%,
    rgba(83, 74, 184, 0.584) 75%,
    rgba(129, 20, 212, 0.1) 100%
  );
  border:2px solid lightblue;
  margin: 0px;
}
.welcometext{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
  color: var(--text);
}
